*.o
/cryptofuzz
generate_corpus
generate_dict
crash-*
leak-*
oom-*
slow-unit-*
timeout-*
/fuzz-corpus*/
/fuzz-artifacts*/
/fuzz-output/
/noblefuzz/mutation-report.json
modules/*/*.a
repository_map.h
repository_tbl.h
third_party/cpu_features/build/
/libressl/
/cryptopp/
/blst/
/mpdecimal-*/
/mpdecimal-*.tar.gz
modules/noble-*/node_modules/
!modules/noble-*/package-lock.json
modules/noble-*/generate_ids
modules/noble-*/generate_ids.bin
modules/noble-*/ids.js
modules/noble-*/*.bytecode
modules/noble-*/*.bytecode.h
modules/noble-*/noble-*.js
modules/*/target/
modules/*/generate_ids
modules/golang/cryptofuzz.h
modules/golang/ids.go
modules/golang/tmp/
modules/circl/cryptofuzz.h
modules/circl/ids.go
modules/circl/tmp/
libfuzzer-js/js.o
libfuzzer-js/jsfuzzer
libfuzzer-js/to_bytecode
libfuzzer-js/quickjs/libquickjs.a
libfuzzer-js/quickjs/.obj/
modules/botan/test_strings
